.nav {
    border: 3px solid limegreen;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 5rem;

    display: flex;
    flex-flow: row;
    justify-content: space-between;

    &__logo {
        padding: 1rem;
    }

    &__list {
        list-style: none;
        display: inline-block;
    }

    &__item {
        float: left;
    }

    &__link {
        margin-right: 2rem;

        &:not(:last-child) {
            margin-right: 0;
        }
    }
}