.footer {
    border: 3px solid skyblue;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 5rem;

    &__list {
        list-style: none;
        display: inline-block;
    }

    &__item {
        float: left;
    }

    &__link {
        margin-right: 2rem;

        &:last-child {
            margin-right: 0;
        }
    }
}