@-ms-viewport {
  width: device-width; }

html {
  box-sizing: border-box; }

body {
  font-size: 62.5%;
  line-height: 1; }

*, *:before, *:after {
  box-sizing: inherit; }

mark {
  background-color: transparent;
  color: inherit; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none; }

body, input, select, textarea {
  font-family: 'Open Sans', sans-serif;
  color: #7b818c;
  font-weight: 400;
  font-size: 11pt;
  line-height: 1.85em; }

a {
  color: inherit;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

.u-text--lowercase {
  text-transform: lowercase !important; }

.u-text--no-transform {
  text-transform: none !important; }

.u-text--center {
  text-align: center !important; }

.row-afsd {
  max-width: 120rem;
  margin: 0 auto; }
  .row-afsd:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: tab-port) {
      .row-afsd:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: tab-port) {
    .row-afsd {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row-afsd::after {
    content: "";
    display: table;
    clear: both; }
  .row-afsd [class^="col-"] {
    float: left; }
    .row-afsd [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: tab-port) {
        .row-afsd [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: tab-port) {
      .row-afsd [class^="col-"] {
        width: 100% !important; } }
  .row-afsd .col-1-of-2 {
    width: calc( (100% - 6rem) / 2); }
  .row-afsd .col-1-of-3 {
    width: calc( (100% - 2*6rem) / 3); }
  .row-afsd .col-2-of-3 {
    width: calc( 2 * ((100% - 2*6rem) / 3) + 6rem); }
  .row-afsd .col-1-of-4 {
    width: calc( (100% - 3*6rem) / 4); }
  .row-afsd .col-2-of-4 {
    width: calc( 2 * ((100% - 3*6rem) / 4) + 6rem); }
  .row-afsd .col-3-of-4 {
    width: calc( 3 * ((100% - 3*6rem) / 4) + (2*6rem)); }
