// [ TEXT ]
.u-text--lowercase { text-transform: lowercase !important; }
.u-text--no-transform { text-transform: none !important; }
.u-text--center { text-align: center !important; }

// [ MARGINS ]
.u-margin-top-sm { margin-top: 1rem !important; }
.u-margin-top-md { margin-top: 4rem !important; }
.u-margin-top-lg { margin-top: 8rem !important; }

.u-margin-bottom-sm { margin-bottom: 1rem !important; }
.u-margin-bottom-md { 
    margin-bottom: 4rem !important; 

    &:last-child { margin-bottom: 1rem !important; }
    
    @include respond(tab-port) {
        margin-bottom: 3rem !important;
    }
}
.u-margin-bottom-lg { 
    margin-bottom: 8rem !important;

    &:last-child { margin-bottom: 1rem !important; }

    @include respond(tab-port) {
        margin-bottom: 5rem !important;
    }
}